.order{
    .header{
        width: 100%;
        height: 64px;
        background-color: #fff;
        border-bottom: 1px solid #b2b2b2;
        font-size: px2rem(17px);
        color:#333;
        text-align: center;
        line-height: px2rem(64px);
        font-weight: bold;
    }
}